/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
}

body,
html {
  height: 100%;
}

/* Type */

@font-face {
  font-family: 'Sky';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
  src: url('./fonts/sky-italic.woff2') format('woff2');
}

body {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sky', sans-serif;
  color: #222;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0;
}

/* lists, inline lists */
.list {
	list-style: none;
}

.list.inline {
	display: flex;
	flex-direction: row;
	flex: 1; /* equal widths by default */
}

/* links */
.link {
  text-decoration: none;
  color: #18418c;
}

.link:hover {
  text-decoration: underline;
}

/* headings */
.header {
	padding: 16px 0;
}

.heading {
	font-size: 18px;
}

.headerToggle {
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

/* Container */
.container {
	display: flex;
  flex-direction: column;
  flex: 1;
}

/* head */
.head .header {
	display: flex;
	justify-content: center;
	background: #18418c;
}

.head .heading {
	color: #fff;
}

/* content */
.content {
	display: flex;
}

/* secondary menu */
.secondaryMenu {
	padding: 16px;
  border-bottom: 1px solid #e1e4e9;
}

.secondaryMenu .link {
	font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
}

/* tertiaryMenu */
.tertiaryMenu {
	width: 300px;
	min-width: 300px;
  border-right: 1px solid #e1e4e9;
	background: #f9f9f9;
	padding: 16px;
}

.tertiaryMenu .link {
	padding: 8px 0;
	display: block
}

.tertiaryMenu .list + .list {
	margin-top: 16px;
}

.tertiaryMenu .header {
	background-color: none;
	padding: 8px 0;
}

.tertiaryMenu .heading {
	color: #222;
}

.headerToggle--expanded + .list {
  display: block;
}

.headerToggle--closed + .list {
  display: none;
}

/* Sportsbook */
.sportsbook {
	display: flex;
	flex-direction: row;
}

.catalog {
	flex: 1;
}

/* Sport */

.sport {
  flex-grow: 1;
  padding: 16px 16px 0;
	background: #fff;
	overflow-x: scroll;
}

.sport__title {
  margin-bottom: 16px;
  font-size: 24px;
}

.sport__competition {
  margin-bottom: 16px;
  font-size: 18px;
}

/* Event list */

.eventList {
  margin-bottom: 16px;
}

.eventList__header {
  margin-bottom: 0;
  padding: 12px 16px;
  color: #fff;
  background: #18418c;
  font-size: 16px;
}

.eventList__events {
  border: solid #e1e4e9;
  border-width: 0 1px 1px;
}

/* Event */

.event {
  display: flex;
  border-bottom: 1px solid #e1e4e9;
}

.event:last-child {
  border-bottom: 0;
}

.event__name {
  width: 40%;
  padding: 8px 16px;
  border-right: 1px solid #e1e4e9;
  line-height: 1.4;
  text-decoration: none;
  color: #2c549e;
}

.event__name:hover {
  text-decoration: underline;
}

.event__startTime {
  font-size: smaller;
  color: #aaa;
}

.event__markets {
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #fbfbfb;
}

/* Market */

.market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.market__outcomes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 5%;
}

/* Outcome */

.outcome {
	display: flex;
	flex: 1;
	text-align: center;
}

.outcome.selected {
	background-color: #1fa94a;
}

.outcome__label {
  margin-bottom: 6px;
  font-size: smaller;
}






/* Betslip */

.betslip {
  flex-basis: 200px;
  padding: 16px 0;
  border-left: 1px solid #e1e4e9;
  background: #f9f9f9;
}

.betslip__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.betslip__count {
  margin-right: 8px;
  padding: 6px 10px;
  line-height: 1;
  border-radius: 50%;
  color: #fff;
  background: #df2030;
  font-size: smaller;
}

.betslip__selections {
  border-top: 1px solid #e1e4e9;
}

/* Selection */

.selection {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e1e4e9;
}

.selection__details {
  margin-left: 16px;
  flex-grow: 1;
}

.selection__outcome {
  margin-bottom: 6px;
  color: #132c6c;
  font-weight: 500;
}

.selection__market {
  margin-bottom: 6px;
}

.selection__market,
.selection__startTime {
  font-size: smaller;
}

.selection__remove {
  position: relative;
  left: 8px;
  padding: 8px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

/* Price */

.price {
  padding: 4px 8px;
  font-weight: 500;
  user-select: none;
}

.price--clickable {
  cursor: pointer;
}

.price--clicked,
.price--updated {
  border-radius: 12px;
  color: #fff;
}

.price--clicked {
  background: #1fa94a;
}

.price--updated {
  background: #e4b30b;
}
