/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
}

body,
html {
  height: 100%;
}

/* Type */

@font-face {
  font-family: 'Sky';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
  src: url('./fonts/sky-italic.woff2') format('woff2');
}

body {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sky', sans-serif;
  color: #222;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0;
}

/* lists, inline lists */
.list {
	list-style: none;
}

.list + .list {
	margin-top: 16px;
}

.list.inline {
	display: flex;
	flex-direction: row;
	flex: 1; /* equal widths by default */
}

/* links */
.link {
  text-decoration: none;
  color: #18418c;
}

.link:hover {
  text-decoration: underline;
}

/* headings */
.header {
	padding: 16px 0;
}

.heading {
	font-size: 18px;
}

.headerToggle {
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

/* Container */
.container {
	display: flex;
  flex-direction: column;
	width: 100%;
}

/* head */
.head .header {
	display: flex;
	justify-content: center;
	background: #18418c;
}

.head .heading {
	color: #fff;
}

/* content */
.content {
	display: flex;
}

/* secondary menu */
.secondaryMenu {
	padding: 16px;
  border-bottom: 1px solid #e1e4e9;
}

.secondaryMenu .link {
	font-size: 20px;
  font-weight: 500;
	padding: 8px 16px;
	display: block;
}

/* tertiaryMenu */
.tertiaryMenu {
	width: 250px;
  border-right: 1px solid #e1e4e9;
	background: #f9f9f9;
	padding: 16px;
}

.tertiaryMenu .link {
	padding: 8px 0;
	display: block
}

.tertiaryMenu .list + .list {
	margin-top: 16px;
}

.tertiaryMenu .header {
	background-color: none;
	padding: 8px 0;
}

.tertiaryMenu .heading {
	color: #222;
}

.headerToggle--expanded + .list {
  display: block;
}

.headerToggle--closed + .list {
  display: none;
}

/* Sportsbook */
.sportsbook {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.catalog {
	flex: 1;
	background: #fff;
	padding: 16px;
}

.eventGroup > .header {
	background: #18418c;
	color: #fff;
	padding: 12px 16px;
}

.eventGroup > .header > .heading {
	font-size: 16px;
}

.events {
	border: solid 1px #e1e4e9;
}

/* Event */
.event {
  display: flex;
  border-bottom: 1px solid #e1e4e9;
}

.event:last-child {
  border-bottom: none;
}

.event__name {
	padding-left: 16px;
	display: flex;
	align-items: center;
	width: 200px;
	height: 60px;
  border-right: 1px solid #e1e4e9;
  line-height: 1.4;
}

.markets {
	width: 100%;
}

.market {
	display: flex;
	align-items: stretch;
}

.outcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	overflow: hidden;
}

.outcome__label {
	white-space: nowrap;
	overflow: hidden;
}

.outcome.selected {
	background-color: #1fa94a;
}

/* Betslip */
.betslip {
	flex: 1;
  border-left: 1px solid #e1e4e9;
  background: #f9f9f9;
}

.betslip .header {
	background-color: none;
	padding-left: 16px;
	border-bottom: 1px solid #e1e4e9;
}

.betslip .header .count {
  margin-right: 8px;
  padding: 6px 10px;
  line-height: 1;
  border-radius: 50%;
  color: #fff;
  background: #df2030;
  font-size: smaller;
}

.betslip > .list > .listItem {
	border-bottom: 1px solid #e1e4e9;
}

/* Selection */

.selection {
  display: flex;
	justify-content: flex-start;
	align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e1e4e9;
}

.selection__details {
  flex: 1;
}

.selection__outcome {
  color: #132c6c;
  font-weight: 500;
}

.selection__market,
.selection__startTime {
	margin-top: 6px;
  font-size: smaller;
}

.selection__remove {
	justify-self: flex-end;
  padding: 8px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

/* Price */

.price {
  padding: 4px 8px;
  font-weight: 500;
	user-select: none;
	width: 60px;
}

.price--clickable {
  cursor: pointer;
}

.price--clicked,
.price--updated {
  border-radius: 12px;
  color: #fff;
}

.price--clicked {
  background: #1fa94a;
}

.price--updated {
  background: #e4b30b;
}
